.about {
    background-color: rgba(0,0,0,.1);
    line-height: 1.1;
}

.skills {
    font-size: 3em;
    color: rgba(0,0,0,.4);
    padding: 8px;
    margin: 8px 8px 8px 0;
}

.skillContainer {
    text-align: center;
}

.skillContainer hr{
    text-align: center;
}

.education {
    text-align: right;
}

.notAnHrCenter, .notAnHrLeft, .notAnHrRight {
    width: 40px;
    height: 1px;
    background-color: rgba(0,0,0,.6);
}

.notAnHrRight {
    float: right;
}

.notAnHrLeft {
    float: left;
}

.notAnHrCenter {
    display: inline-block;
}

.eduContent, .aboutContent {
    margin-top: 2.5em;
}

#skillTitle {
    margin-bottom: 0;
}