.project, .projectSection {
    background-color: #EFF3F4;
}

.projectLink {
    color: black;
}

.projectCard {
    min-height: 500px;
}

.projectContainer {
    margin-bottom: 2.5em;
    text-align: center;
}