.project, .projectSection {
    background-color: #EFF3F4;
}

.projectLink {
    color: black;
}

a.card-header-icon:hover, .projectLink:hover {
    color: black;
    background-color: white;
}

.projectCard {
    min-height: 475px;
}

.projectContainer {
    margin-bottom: 2.5em;
    text-align: center;
}