button {
    position: relative;
    float: right;
}

/* Box would not resize w/o !important, regardless of specificity */
.messageBox {
    min-height: 200px !important;
}

.contactTitle {
    margin-bottom: 2.5em;
}