.navbar-menu {
    justify-content: center;
}

.navbar {
    position: fixed;
    width:100%;
    background-color: #262626;
}

a.navbar-item:hover, .link:hover {
    background-color: #262626;
    color: #3A9F86
}

.icon, strong, .navbar-item {
    color: #FAFAFC;
}

.mobileMenu {
    background-color: #262626;
    padding: 0px
}

.mobileItem {
    border-top: 1px solid #FAFAFC
}

