.navbar-menu {
    justify-content: center;
}

.navbar {
    position: fixed;
    width:100%;
    background-color: #262626;
}

a.navbar-item:hover, .link:hover, a:hover {
    background-color: #262626;
    color: #3A9F86
}

.icon, strong, .navbar-item, a {
    color: #FAFAFC;
}

.mobileMenu {
    background-color: #262626;
    padding: 0px
}

.navbar-burger {
    color: #FAFAFC
}
